<!DOCTYPE html>
<!--
 * @Author       : fenggi123
 * @Date         : 2020-12-09 16:52:33
 * @LastEditors  : fenggi123
 * @LastEditTime : 2020-12-19 21:41:02
 * @FilePath     : \undefinedd:\ProjectFrontEnd\JavaEE_Project\html\main_mid.html
 * @Description  : 
 * @Version      : 1.0
-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/themes.css">
    <link rel="stylesheet" href="../css/middle.css">

</head>

<body>
    <div class="wrap">
        <div class="container">
            <div class="top">
                <div class="title_icon">
                    <img src="../img/list_icon%20(2).png" width="35px" height="35px" alt="">
                </div>
                <div class="title">
                    <h2>标题</h2>
                </div>
                <div class="add_task">
                    <a href="#">
                        <img src="../img/add.png" alt="" width="30px" height="30px">
                    </a>
                </div>
            </div>
            <div class="search_bar">
                <form action="">
                    <input type="text" placeholder="请输入要搜索的内容">
                </form>
            </div>
            <div class="main">
                <div class="list">
                    <a href="">
                        <span class="down_arrow_icon">
                            <img src="../img/down_arrow.png" alt="" height="10px" width="10px">
                        </span>
                        <p>未完成</p>
                    </a>

                    <div class="missions">
                        <ul>
                            <li>
                                <input type="checkbox" id="inputId">
                                <label for="inputId"></label>
                                <span>第一个任务</span>
                                <HR color=#A9A9A9 SIZE=1>
                            </li>
                            <li><input type="checkbox" id="inputId1">
                                <label for="inputId1"></label>
                                <span>第二个任务</span>
                                <HR color=#A9A9A9 SIZE=1>
                            </li>
                            <li><input type="checkbox" id="inputId2">
                                <label for="inputId2"></label>
                                <span>第三个任务</span>
                                <HR color=#A9A9A9 SIZE=1>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="finished">
                    <div class="list">
                        <a href="">
                            <span class="down_arrow_icon">
                            <img src="../img/down_arrow.png" alt="" height="10px" width="10px">
                        </span>
                            <p>已完成</p>
                        </a>
                        <div class="missions">
                            <ul>
                                <li>
                                    <input type="checkbox" id="inputId11">
                                    <label for="inputId11"></label>
                                    <span>第一个任务</span>
                                    <HR color=#A9A9A9 SIZE=1>
                                </li>
                                <li><input type="checkbox" id="inputId22">
                                    <label for="inputId22"></label>
                                    <span>第二个任务</span>
                                    <HR color=#A9A9A9 SIZE=1>
                                </li>
                                <li><input type="checkbox" id="inputId33">
                                    <label for="inputId33"></label>
                                    <span>第三个任务</span>
                                    <HR color=#A9A9A9 SIZE=1>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>