<!DOCTYPE html>
<!--
 * @Author       : fenggi123
 * @Date         : 2020-12-09 16:10:47
 * @LastEditors  : fenggi123
 * @LastEditTime : 2020-12-19 19:50:16
 * @FilePath     : \JavaEE_Project\html\main.html
 * @Description  : 
 * @Version      : 1.0
-->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>页面分割</title>
    <link rel="stylesheet" href="css/reset.css">

</head>

<!-- <frameset rows="15%,*" border=1 bordercolor="black"> -->
<!--把页面分成上下两部分，上部分占15%，下部分*表示占据其余部分-->
<!-- <frame src="main_top.html"></frame> -->
<!--上半部分要显示的页面-->
<frameset cols="15%,*,*" border=1 bordercolor="black">
    <!--把页面分成左右两部分，左部分占15%，中间与右部平分剩余部分-->
    <!--target属性指向要显示的页面，目前设置中间和右边为空页面，当点击链接时才显示-->
    <!--左半部分要显示的页面-->
    <frame src="main_left.html" name="left"></frame>
    <!--中间部分要显示的页面-->
    <frame src="main_mid.html" name="mid"></frame>
    <!--右半部分要显示的页面-->
    <frame src="blank.html" name="right"></frame>

</frameset>
<!-- </frameset> -->

</html>