<!DOCTYPE html>
<!--
 * @Author       : fenggi123
 * @Date         : 2020-12-22 11:37:58
 * @LastEditors  : fenggi123
 * @LastEditTime : 2020-12-22 11:41:18
 * @FilePath     : \JavaEE_Project\html\test.html
 * @Description  : 
 * @Version      : 1.0
-->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/themes.css">
    <link rel="stylesheet" href="../css/menu.css">
</head>

<body>
    <div class="main">
        <div class="list_name">
            <p>清单</p>
            <HR color=#987cb9 SIZE=1>
            <div class="list">
                <ul>
                    <li class="current">
                        <a href="#">
                            <div class="task_icon">
                                <img src="../images/list_icon_white.png" alt="" width="25px" height="25px">

                            </div>
                            <div class="list_title">
                                <p>第一个清单</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="add_list">
                    <a href="#">
                        <div class="add_task_icon">
                            <img src="../images/add.png" alt="" width="23px" height="23px">
                        </div>
                        <div class="add">
                            <p>添加清单</p>
                        </div>
                    </a>
                </div>
            </div>
            <HR color=#987cb9 size=1>

        </div>
    </div>
</body>

</html>